.SearchBox{

    border-radius:4px;
    border: #DCD6CC 2px solid;
    padding: 5px;    
    width: 70%;
    background: #FFFFFF;
    height: 38px;

}

.SearchButton{
    background-color: rgb(209, 183, 123);
    padding: 8px 12px;
    margin-left: 5px;
    border: 1px solid #D6D0C4;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
}

.form{

    
    position: relative;

    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    background-color: #eeeeee;
   
    max-width: 700px;
}

.page{

    padding-top: 20px;
    
}

.AllResults{
     
    border-collapse: collapse;
    position: relative;
    background-color: #d7e2b9;
    border-radius: 3px;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    padding-top: 0px;
    max-width: 700px;
    margin-top: 30px;
    visibility: hidden;
    
}



.pageContainer{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    background: #cacaca;
    height: 50px;
    align-content: center;
    padding:5px;
    border-radius: 3px;
}

.eachPage{
    background-color: #fafafa;
    text-align: center;
    padding:10px;
    border-radius:5px;
    color:white;
   
    
}

.prevNext:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pageLink:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.activePage{
    background-color: rgb(209, 183, 123);
    color:black;
    border-radius: 5px;
}